<div id='wrapper'>

<h1>ERIK ASLAND</h1>
    <div id='dots-menu-nav'>
        <nav id='vertical-dots-menu'>
            <ul>
                <li>
                    <a href="" class='dots-menu-anchor'><span class='dots-menu-dot'></span><span class='dots-menu-label'>ERIK ASLAND</span></a>
                </li>
                <li>
                    <a href="" class='dots-menu-anchor'><span class='dots-menu-dot'></span><span class='dots-menu-label'>PROJECTS</span></a>
                </li>
                <li>
                    <a href="" class='dots-menu-anchor'><span class='dots-menu-dot'></span><span class='dots-menu-label'>CONTACT</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>